/* Custom Scrollbar */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #0062ff;
    /* Blue-500 */
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: #0051ff;
    /* Blue-600 */
}